<!-- [footer -->
<div class="clearfix d_footer" >
    <div class="container marketing" >
    <div class="item col-lg-2" id="ct-pat"><!-- image -->
       <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"> <img class="block" src="{{ rootdir }}img/footer/ct-pat_03.png" data-hidpi-src="{{ rootdir }}img/footer/ct-pat_03_2x.png" alt="C-TPAT" width="69" height="29"/></a>
       </div>
    <div class="item col-lg-2" id="ciffa"><!-- image -->
       <a href="http://www.ciffa.com/" target="_blank"> <img class="block"  src="{{ rootdir }}img/footer/ciffalogo_03.png" data-hidpi-src="{{ rootdir }}img/footer/ciffalogo_03_2x.png" alt="CIFFA" width="51" height="26"/></a>
       </div>
       <div class="item col-lg-2" id="cscb"><!-- image -->
        <a href="http://cscb.ca/" target="_blank"><img class="block"  src="{{ rootdir }}img/footer/cscb_03-crop-u1713.png" data-hidpi-src="{{ rootdir }}img/footer/cscb_03-crop-u1713_2x.png" alt="CSCB" width="74" height="28"/></a>
       </div>
       <div class="item col-lg-2"  id="wca"><!-- image -->
         <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img class="block" src="{{ rootdir }}img/footer/wca_03.png" data-hidpi-src="{{ rootdir }}img/footer/wca_03_2x.png" alt="WCA" width="51" height="27"/></a>
       </div>
       <div class="item col-lg-2" id="iata"><!-- image -->
        <a href="http://www.iata.org/Pages/default.aspx" target="_blank"> <img class="block"  src="{{ rootdir }}img/footer/iata_03.png" data-hidpi-src="{{ rootdir }}img/footer/iata_03_2x.png" alt="IATA" width="44" height="29"/></a>
       </div>
       <div class="item col-lg-2" id="pip" ><!-- image -->
        <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img class="block" src="{{ rootdir }}img/footer/pip_03.png" data-hidpi-src="{{ rootdir }}img/footer/pip_03_2x.png" alt="PIP" width="154" height="28"/></a>
       </div>
    </div>


 </div>
 <div class="clearfix d_dividerbar">
   <div class="container marketing">
     <p id="copyrights" style="text-align:center" >Copyrights © 2015 Delmar International Inc. All Rights Reserved. | <a href="legal.html">Legal</a></p>

   </div>
 </div>
  <!-- end of footer -->
  <!-- [language nav -->
 <div id="d_langdd" class="dropdown dropdown-tip dropdown-anchor-right">
        <ul class="dropdown-menu">
            <li><a href="#1">Français</a></li>
            <li><a href="#2">Español</a></li>
            <li><a href="#3">Português</a></li>
            <li><a href="#4">中文</a></li>
    </ul>
</div>
<!-- ]language nav -->
